@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Raleway&display=swap");

body,
html,
.global-font {
  font-family: "Raleway", sans-serif !important;
}

.header-font {
  font-family: "Fuzzy Bubbles", cursive !important;
}

.support-bg {
  background-image: url("https://images.pexels.com/photos/7709259/pexels-photo-7709259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: rgb(179, 177, 177) !important;
}

html::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136) !important;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100) !important;
}

html::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68) !important;
}
