@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Raleway&display=swap");

body,
html,
.global-font {
  font-family: "Raleway", sans-serif !important;
}

.header-font {
  font-family: "Fuzzy Bubbles", cursive !important;
}

.support-bg {
  background-image: url("https://images.pexels.com/photos/7709259/pexels-photo-7709259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
